[Desktop Entry]
Name=Airdecap-ng
Exec=$E17TERM -e launch airdecap-ng -h
StartupNotify=false
X-Enlightenment-WaitExit=false
StartupWMClass=Eterm
Icon=/usr/share/genmenu/pixmaps/gnome-term.png
Type=Application
