[Desktop Entry]
Name=ArpWatch
Exec=$E17TERM -e launch arpwatch -h
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/gnome-searchtool-animation.png
Type=Application
