[Desktop Entry]
Name=Change / Reset CMOS Password
Exec=$P2TERM -e /opt/pentoo/scripts/cmospwd.sh
Icon=/usr/share/genmenu/pixmaps/gnome-fs-chardev.png
Type=Application
