[Desktop Entry]
Name=DSniff
Exec=$E17TERM -e launch dsniff -h
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/gnome-term.png
