[Desktop Entry]
Name=Ldapenum
Exec=$E17TERM -e /opt/pentoo/scripts/ldapenum.sh
Icon=/usr/share/genmenu/pixmaps/stock_addressbook.png
Type=Application
