[Desktop Entry]
Name=Paketto- Minewt
Exec=$E17TERM -e launch minewt
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/gnome-term.png
