[Desktop Entry]
Name=Peach
Exec=$E17TERM -e launch cd /opt/Peach/
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/gnome-terminal.png
Type=Application
