[Desktop Entry]
Name=Plaintoo
GenericName=Grab hashes
Exec=$E17TERM -e plaintoo
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/pt.png
