[Desktop Entry]
Name=SSH MITM
Exec=$E17TERM -e launch sshmitm -h
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/stock_signature-bad.png
