[Desktop Entry]
Name=UrlSnarf
Exec=$E17TERM -e launch urlsnarf -h
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/gnome-term.png
Type=Application
