[Desktop Entry]
Name=Web MITM
Exec=$E17TERM -e launch webmitm
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/stock_signature-bad.png
Type=Application
