[Desktop Entry]
Name=WepDecrypt
Exec=$E17TERM -e /opt/pentoo/scripts/wepdecrypt.sh
Icon=/usr/share/genmenu/pixmaps/stock_lock-open.png
Type=Application
