[Desktop Entry]
Name=Wifitap
Exec=$E17TERM -e launch wifitap
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/wifi-radar.png
Type=Application
