[Desktop Entry]
Name=Airodump-ng
Exec=$E17TERM -e launch airodump-ng -h
StartupNotify=false
X-Enlightenment-WaitExit=false
StartupWMClass=Eterm
Icon=airodump-ng
