[Desktop Entry]
Name=Ethereal
GenericName=Network Sniffer
Exec=ethereal
StartupNotify=false
X-Enlightenment-WaitExit=false
StartupWMClass=Ethereal
Icon=ethereal
