[Desktop Entry]
Name=Ike-Scan
Exec= launch ike-scan
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/stock_keyring.png
