[Desktop Entry]
Name=Oracle TNS Control
Exec=$E17TERM -e /opt/pentoo/scripts/oat otnsctl
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=oracle-tns-control
