[Desktop Entry]
Name=Oracle Password Guesser
Exec=$E17TERM -e /opt/pentoo/scripts/oat opwg
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=oracle-password-guesser
